doctype html
html
    head
        title 愛禮物
        meta(content="text/html" charset="UTF-8")
        meta(property="og:url"  content="http://blog.igift.tw/")
        meta(property="og:type"          content="website" )
        meta(property="og:title"         content="愛禮物" )
        meta(property="og:description"   content="送給她/他一份最真摯的聖誕禮物" )
        meta(property="og:image"         content="http://res.cloudinary.com/dif66eh4c/image/upload/v1448901817/網站用banner_basker.png")
        
        link(rel="Shortcut Icon" type="image/x-icon" href="http://res.cloudinary.com/dif66eh4c/image/upload/v1449039847/p_rgngrn.png")
        script(src="https://code.jquery.com/jquery.min.js")
        link( href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        script(src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
        script(src="https://code.jquery.com/jquery-1.6.4.js")
        link(rel="stylesheet" type="text/css" href="css/gift.css")
        meta(name="viewport" content="width=device-width")

        

        block title



    body
        script.

        #fb-root
        script.
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=679940228778676";
              fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
                ga('create', 'UA-55614695-5', 'auto');
                ga('send', 'pageview');
        .menu
            .row
                    .col-md-4
                        a( href="/")
                            img(src="http://res.cloudinary.com/dif66eh4c/image/upload/v1449237155/網站用logo_vph1y5.png" alt="")
                    .col-md-8
                        ul.nav
                            li
                                a(href="/week")
                                    img(src="http://res.cloudinary.com/dif66eh4c/image/upload/v1449236949/本週_n1pldf.png")
                                    br
                                    span 本週精選
                            li
                                   
                                a( href="/")
                                    img(src="http://res.cloudinary.com/dif66eh4c/image/upload/v1449236949/santa_claus-128_ulmuv9.png")
                                    br
                                    span 聖誕特輯

                            li
                                a( href="/")
                                    img(src="http://res.cloudinary.com/dif66eh4c/image/upload/v1449236949/送給男生_n2xyol.png")
                                    br
                                    span 送給男生

                            li
                                a( href="/")
                                    img(src="http://res.cloudinary.com/dif66eh4c/image/upload/v1449236949/送給女生_wgyyxb.png")
                                    br
                                    span 送給女生





        block content

        .footer
            .container
                ul
                    li
                    li
                    li
                    li
                    
                p.pull-right &copy; copyright 2015 

        block scripts






    